.chart-height1 {
    height: auto;
}

.chart-height2 {
    height: auto;
}

/* Global chart text size */
.js-plotly-plot text {
  font-size: 77% !important;   /* scales with screen width */
}

.js-plotly-plot .hoverlayer .hovertext text {
  font-size: 0.8vw !important;              /* scales with screen width */
}


.responsive-dropdown-loi {
    width: 104%;              /* 30% of viewport width */
}

.main-navbar .navbar-brand {
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #f8f9fa /*!important; /* ensures readable on dark background */
}

.dash-graph .gtitle {
    font-size: 20px !important; 
    font-weight: bold !important;
}

.mapcharts {
    height : auto;
}

/* Force the inner Plotly container to respect the parent */
.mapcharts .js-plotly-plot {
  height: 750px !important;       /* Make it fill the .mapcharts height */
} 

.nav {
    font-size: 1vw;
}

/* Dropdown responsiveness */
.responsive-dropdown {
  width: 40vw;              /* 40% of viewport width */
  min-width: 150px;         /* Prevents shrinking too much */
  max-width: 350px;         /* Keeps a reasonable upper bound */
}


/* Input responsiveness */
.responsive-input {
  width: 40vw;
  min-width: 100px;
  max-width: 200px;
}

.js-plotly-plot .plot-container {
  height: 625px !important;
} 

@media (max-width: 950px) {
    .chart-height1 {
        height: auto;
    }
    
    .chart-height2 {
        height: auto;
    }
    .js-plotly-plot .hoverlayer .hovertext text {
        font-size: 1.5vw !important;
    }

    .mapcharts {
        height : auto !important;   
    }
    .mapcharts .js-plotly-plot {
        height: 100% !important;
    }
    .responsive-dropdown-loi {
        width: 85vw;              /* 85% of viewport width */
}

}

/* Adjust for mobile */
@media (max-width: 480px) {

    .js-plotly-plot .hoverlayer .hovertext text {
        font-size: 3.5vw !important;
    }

    .js-plotly-plot .legend {
        white-space: nowrap !important;
    }

    .js-plotly-plot text {
        font-size: 2.55vw !important;   /* slightly larger for mobile */
    }

      .chart-height1 {
        height: auto;
    }
        
    .chart-height2 {
        height: auto;
    }
    .js-plotly-plot .legendtext {
        font-size: 2.45vw !important;
    }

    .dash-graph .gtitle {
        font-size: 3.5vw !important;
        font-weight: bold !important;
    }

    .mapcharts {
        height : auto !important;   
    }
    .mapcharts .js-plotly-plot {
        height: 745px !important;
    }
  
    .responsive-dropdown-loi {
        width: 85vw;              /* 90% of viewport width */

    }
    .main-navbar .navbar-brand {
        font-size: 6vw;

    }
}




