dash==2.18.1
dash-bootstrap-components>=1.5.0
plotly>=5.22.0
pandas>=2.2.0
numpy>=1.26.0
matplotlib>=3.8.0
seaborn>=0.13.0
folium>=0.15.0
geopandas>=1.0.0
shapely>=2.0.0
scikit-learn>=1.5.2
imbalanced-learn>=0.12.3
xgboost>=2.0.0
lightgbm>=4.3.0
mysql-connector-python>=9.0.0
SQLAlchemy>=2.0.0
openpyxl>=3.1.0
yfinance>=0.2.40
gunicorn
dash_bootstrap_templates
sorted_months_weekdays
json
requests
mysql.connector
sqlalchemy


